@font-face {
  font-family: "Fixed 6x10";
  src: url("/fonts/Fixed6x10-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  size-adjust: 100%;
}

@font-face {
  font-family: "Simpleton";
  src: url("/fonts/Simpleton.ttf");
  font-weight: 400;
  font-style: normal;
  size-adjust: 120%;
}
