@font-face {
  font-family: "Simpleton";
  src: url("/fonts/Simpleton.ttf");
  font-weight: 400;
  font-style: normal;
  size-adjust: 120%;
}

@font-face {
  font-family: "Departure Mono";
  src: url("/fonts/DepartureMono-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
